@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --nanobank-blue-sky: #8ecae6;
  --nanobank-blue-green: #219ebc;
  --nanobank-blue-deep: #023047;
  --nanobank-amber-deep: #ffb703;
  --nanobank-orange-deep: #fb8500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-nanobank-blue-sky: var(--nanobank-blue-sky);
  --color-nanobank-blue-green: var(--nanobank-blue-green);
  --color-nanobank-blue-deep: var(--nanobank-blue-deep);
  --color-nanobank-amber-deep: var(--nanobank-amber-deep);
  --color-nanobank-orange-deep: var(--nanobank-orange-deep);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}